
#header {
    background-color:white;
    color:black;
    /*text-align:center;*/

}


.webpageData{
    background-color: white;

    padding: 5px;


}
#footer {
    background-color: black;
    color: white;

    text-align: center;
}
